*{
  --primary-color: #A82C4B;
 --secondary-color: #43121d;
   --third-color: #f98169;
    --white-color: #fff;
    --text-color: #555;
    --text-gray: #999;
    --black-color: #000;
    --primary-font: 'Robot', sans-serif;
    --secondary-font: 'Quicksand', sans-serif;

}

.navbar-brand img {
  height: 50px;
}

.nav-link {
  color: var(--primary-color) !important;
}

.login-btn {
  background-color: var(--primary-color) !important;
  color: rgb(255, 255, 255) !important;
}

.bg-image {
  background-image: url(./bg/bg-1.jpg);
  height: 100vh;
  background-position: -85px;
}

.btnbrown {
  background-color:var(--primary-color) !important;
  color: rgb(255, 255, 255) !important;
}

.btnwhite {
  background-color: var(--white-color) !important;
  color:var(--black-color)!important;
  border-color: var(--primary-color);
}

#home p,
h1 {
  justify-content: center;

}

.barnum {
  background: var(--primary-color);
  color: white;
  padding: 60px 0;
}

.barnum h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.about,
.section5 {
  padding: 60px 0;
}

.about h2,
.section5 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.section6 {
  background: var(--text-gray);
  color: var(--primary-color);
  padding-left: 40px;
  text-align: center;
  justify-content: center;
  background-image: url(./bg/bg-2.jpg);


  height: 40vh;

  background-size: 1900px 500px;

  background-position: center;

}

/* 7 */


.section7 {
  padding: 60px 0;
}

.section7 h2 {
  font-size: 2rem;
  margin-bottom: 40px;
}

.card {
  margin-bottom: 30px;
}

.section8 {
  background: #f2f2f2;
  padding: 60px 0;
}

.section8 h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

footer {
  background: var(--primary-color);
  color: var(--white-color);
  padding: 20px 0;
}

footer a {
  color: var(--white-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer .list-inline {
  margin-bottom: 10px;
}

footer .list-inline-item {
  margin-right: 10px;
}

.old{
  text-decoration: line-through;

}

.check{
  list-style: none;
  color: var(--text-gray);
}
.card-text{
  color: var(--primary-color);

}

.miss{
  background: url(./bg/bg-3.jpg);
  
}
